.nav-link.active {
    font-weight: bold;
}
.title{
    justify-content: center;
}

.box {
    width: 30%;
    height: 200px;
  }
  
img {
    width: 100%;
    height: 100%;
  }

.row > div {border:3px solid white}
.B {height:200px}
.G {height:100px}
.O {height:100px}
