.nav-link.active {
    font-weight: bold;
}
.title{
    justify-content: center;
}

.box {
    width: 30%;
    height: 200px;
  }
  
img {
    width: 100%;
    height: 100%;
  }

.card{
  width: 200px;
  height: 200px;
  word-wrap: break-word;     
  overflow: hidden;         
  text-overflow: ellipsis;
  border:3px solid blue;
  display: block;
  cursor: pointer;
  transition: transform 0.2s ease;
  
}
.card:hover {
  transform: scale(1.1);
}

#cards{
  width: 400px;
  height: 457px;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

.center{
  text-align: center;
}

.nav-link.active {
  font-weight: bold;
}
.main {
  width: 200%;
  margin: 10px;
}
.card-text {
  color: slategray
}
.post {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.title {
  margin: 10px;
}
.back {
  margin: 10px;
  float: right;
}
.comment {
  float: right;
  margin: 10px;
}
.inner {
  margin: 10px;
  border-left: black;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.main-text {
  color: black;
  font-weight: normal;
}
.main-title {
  margin: 10px;
} 
.main-no-border {
  border: black;
  margin: 10px;
}