.nav-link.active {
    font-weight: bold;
}
.main {
    width: 200%;
    margin: 10px;
}
.comment {
    float: right;
}
.card-text {
    color: slategray
}
.post {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.title {
    margin: 10px;
}
.back {
    margin: 10px;
    float: right;
}
.comment {
    float: right;
    margin: 10px;
}
.inner {
    margin: 10px;
    border-left: black;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.main-text {
    color: black;
    font-weight: normal;
}
.main-title {
    margin: 10px;
} 
.main-no-border {
    border: black;
    margin: 10px;
}
#commentInput {
    resize: both;
    width: 800px;
    max-width: 1000px;
}