.nav-link.active {
    font-weight: bold;
}

.card {
    width: 200%;
    margin: 10px;
}
.comment {
    float: right;
}

.card-text {
    color: slategray
}

.post {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}